.page-title {
  line-height: 1.2;
  margin: 0 0 1rem;
}

.page-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.page-content p {
  line-height: 1.7;
}

.page-meta {
  border-top: 1px solid #eee;
  padding-top: 16px;
  color: #6f6f6f;
}

/* offline page list */

.page-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-item__title {
  margin: 0;
}

.page-item__types {
  font-style: italic;
}

.page-item:not(:last-of-type) {
  margin-bottom: 16px;
}
