:root {
  --sidebar-width: 280px;
  --duration: 0.5s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  transform: translateX(calc(-var(--sidebar-width)));
  transition: transform var(--duration);
  width: var(--sidebar-width);
  padding: 0.7rem;
  border-bottom: 0;
  overflow: hidden;
  border-right: 1px solid #eee;
}

@media (max-width: 280px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar-opener--open + .sidebar {
  transform: translateX(0);
  z-index: 0;
}

.site-header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.site-nav {
  height: calc(100% - 105px);
}

.site-nav__header {
  margin: 1em 0 0.5em;
}

.site-nav__content {
  height: calc(100% - 50px);
  overflow-y: auto;
}

.site-nav__content a:hover {
  text-decoration: none;
}

#slide-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  transition: transform var(--duration);
  
  & > svg {
    border: 1px solid transparent;
    border-radius: 3px;
  }
}

#slide-btn[aria-pressed='true'] {
  transform: rotate(90deg);
}

#slide-btn:focus {
  outline: 0;

  & > svg {
    border: 1px solid #bebebe;
  }
}

.sidebar-opener {
  position: relative;
  overflow-x: hidden;
  transform: translateX(0);
  padding-left: 0;
  transition: transform var(--duration), padding-left var(--duration);
}

@media (max-width: 799px) {
  .sidebar-opener.sidebar-opener--open {
    transform: translateX(var(--sidebar-width));
  }
}

@media (min-width: 800px) {
  .sidebar-opener.sidebar-opener--open {
    padding-left: var(--sidebar-width);
  }
}
