:root {
  --sidebar-width: 280px;
  --duration: 0.4s;
  --easing: cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: inherit;
  transform: translateX(calc(-var(--sidebar-width)));
  transition: transform var(--duration) var(--easing);
  width: var(--sidebar-width);
  padding: 0.7rem;
  border-bottom: 0;
  overflow: hidden;
  border-right: 1px solid #eee;
}

@media (max-width: 280px) {
  .sidebar {
    width: auto;
  }
}

.sidebar--open.sidebar {
  transform: translateX(0);
}

.site-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.site-nav {
  height: calc(100% - 105px);
}

.site-nav__header {
  margin: 1em 0 0.5em;
}

.site-nav__content {
  height: calc(100% - 50px);
  overflow-y: auto;
}

.site-nav__content a:hover {
  text-decoration: none;
}

#slide-btn {
  z-index: 1;
  position: absolute;
  transition: transform var(--duration) var(--easing);
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 3px;
  left: 10px;
  top: 10px;
}

#slide-btn > svg {
  vertical-align: top;
}

#slide-btn[aria-pressed='true'] {
  transform: rotate(90deg);
  position: fixed;  
}

#slide-btn:focus {
  outline: 0;
  border: 1px solid #bebebe;
}

.sidebar-peer {
  margin-left: 0;
  transition: transform var(--duration) var(--easing),
    margin-left var(--duration) var(--easing);
}

@media (max-width: 799px) {
  .sidebar--open + .sidebar-peer {
    transform: translateX(var(--sidebar-width));
  }
}

@media (min-width: 800px) {
  .sidebar--open + .sidebar-peer {
    margin-left: var(--sidebar-width);
  }
}
