ul[role='tree'] {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul[role='tree'] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

[role='treeitem'] ul {
  margin: 0;
  padding: 0;
  margin-left: 0.9em;
}

[role='treeitem'][aria-expanded='false'] > ul {
  display: none;
}

[role='treeitem'][aria-expanded='true'] > ul {
  display: block;
}

[role='treeitem'][aria-expanded='false'] > span:before {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnPjxwb2x5bGluZSBwb2ludHM9JzkgMTggMTUgMTIgOSA2Jz48L3BvbHlsaW5lPjwvc3ZnPg==');
}

[role='treeitem'][aria-expanded='true'] > span:before {
  content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnPjxwb2x5bGluZSBwb2ludHM9JzYgOSAxMiAxNSAxOCA5Jz48L3BvbHlsaW5lPjwvc3ZnPg==');
}

[role='treeitem'] > span::before {
  position: relative;
  top: 0.4em;
}

[role='treeitem'],
[role='treeitem'] span {
  margin: 0;
  border: 1px transparent solid;
  border-radius: 0.2em;
  display: block;
}

[role='treeitem'] {
  padding: 0.125em;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */
[role='treeitem']:focus {
  outline: 0;
}

[role='treeitem'].focus,
[role='treeitem'] span.focus {
  border-color: black;
  background-color: #eeeeee;
}

[role='treeitem'].hover,
[role='treeitem'] span.hover {
  background-color: #dddddd;
}
