{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 5% in CN",
            "last 2 versions"
          ]
        },
        "useBuiltins": true
      }
    ],
    "stage-0"
  ]
}
