<!DOCTYPE html>
<html>
  <head>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta name="theme-color" content="#d10f0f">
  <meta charset="UTF-8">
  {% block title %}
    <title>{{ page.title }}{{ " | " if page.title }}{{ site.title }}</title>
  {% endblock %}
  <link id="css-main" rel="stylesheet" href="{{ '/assets/css/main.css' | baseurl }}">
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="manifest" href="/manifest.json">
  <script defer src="{{ '/assets/js/app.js' | baseurl }}"></script>
  </head>
  <body class="_disable-transition">
    {% block body %}
    {{ content | safe }}
    {% endblock %}
  </body>
</html>
