<!doctype html>
<html>
  <head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
  <meta name="theme-color" content="#d10f0f">
  <meta charset="UTF-8">
  {% block title %}
    <title>{{ page.title }}{{ " | " if page.title }}{{ site.title }}</title>
  {% endblock %}

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | baseurl | relative }}">
  <script src="{{ '/assets/js/bundle.js' | baseurl | relative }}" async></script>

  {%- block extraStyle %}
  {% endblock -%}
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    {% block body %}
    {{ content | safe }}
    {% endblock %}
  </body>
</html>
