{% extends "default.njk" %}

{%- block extraStyle %}
<link rel="stylesheet" href="{{ '/assets/css/github.css' | baseurl | relative }}">
{%- endblock %}

{%- block title %}
  {% if page.title %}<title>{{ page.title }} - {{ page.types | typeMaps | join(" - ") }} | {{ site.title }}</title>
  {% else %}<title>{{ site.title }}</title>
  {% endif %}
{%- endblock %}

{%- block body %}
<a href="#slide" id="slide-btn">☡</a>
<aside>
  {% include "includes/header.njk" %}
  <input type="search" placeholder="Type or Title">
  <div id="list" class="{{ page.types | join(" ") }}">
    <p class="list-name">CONTENTS</p>
    {{ list | safe }}
  </div>
</aside>

<main>
  <section class="search-result">
    <header class="search-header">
      <h1>Found&nbsp;<span class="count"></span>&nbsp;articles.</h1>
    </header>
    <ul class="suggestions"></ul>
  </section>
  <article class='page'>
    {% if page.title %}<h1 class="page-title">{{- page.title }}</h1>{% endif %}
    {% if page.toc %}<nav id="toc"></nav>{% endif %}
    <div class="page-content">
      {{- content| safe }}
    </div>
  </article>
</main>
{%- endblock -%}
